/* Estilo general del cuerpo: centrado, tipografía limpia */
body {
  background-color: #023f52;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Contenedor central del juego */
.container {
  text-align: center;
  background-color: rgb(27, 146, 130);
  padding: 30px; // Espacio interno
  border-radius: 16px; // Bordes redondeados
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px; // Ajusta el ancho según sea necesario
}

/* Título */
h1 {
  margin-bottom: 20px;
    font-size: 2.5rem;
  color: #000000;
}

/* Botones de juego y reinicio */
.buttons button, #reiniciar {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #4a04c3;
  color: rgb(169, 235, 255);
  transition: background-color 0.3s;
}

/* Efecto al pasar el mouse por los botones */
button:hover {
  background-color: #0056b3;
}

/* Texto que muestra el resultado de cada jugada */
#resultado {
  margin-top: 20px;
  font-weight: bold;
  color: #270067;
}

/* Texto del marcador de triunfos y derrotas */
#marcador {
  margin-top: 10px;
  font-size:  1.5rem;
  color: #1d0049;
}
